.b{
    background-image: url(A_black_image.jpg.webp);
    background-size: cover;
}
.search_s{
    position: absolute;
    top:10%;
    right: 35%;
    width: 30%;
    height: 8%;
    box-shadow: 20px;
    border-color: black;
    background: white;
    border-radius: 30px;
    padding: 10px 25px;
    font-size: 28px;
    font-family: "helvatica","sans-serif";
}
.butt{
    position: absolute;
    top:12.5%;
    right: 37%;
    background: white;
    border-color: white;
    border: 1px solid white;
    cursor: pointer;
}
#ca{
    display: flex;
    flex-direction: row;
    position: absolute;
    top:30%;
    left: 3%;
    right: 3%;
    bottom: 10%;
    color: white;
    
    background-color: rgb(0, 0, 0, 0);
    height: 67%;
    border-radius: 30px;
}
.box1{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    width: 50%;
}
.box2{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    width: 50%;
}
.line{
    width: 0.01%;
    margin-top: 2%;
    height: 90%;
    background-color: gray;
}
.place{
    position: absolute;
    top:58%;
    left: 2%;
    font-size: xx-large;
}
.temp{
    position: absolute;
    top:35%;
    left:2%;
    font-size: 100px;
}
.region{
    position: absolute;
    top:58%;
    left: 10%;
    font-size: xx-large;
}
.min_temp,.max_temp,.desc{
    position: absolute;
    top:70%;
    left: 2%;
    font-size: xx-large;
}
.name{
    position: absolute;
    top: 20%;
    right: 37%;
    font-size: 30px;
}
.feels_like,.pressure{
    position: absolute;
    top: 5%;
    left: 110%;
}